.box{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    max-width: 500px;
    width: 100%;
    margin-top: 50px;
}

.box_2{
    width: 400px;
    height: 400px;
    background: black;
    margin-left: 415px;
    margin-top: 50px;
    border: rgb(55, 0, 255) 2px solid;
}